<template>
  <div>
  <v-layout :style="customClass" row wrap>
    <v-flex xs12 justify-space-around>
      <h3>{{name}}</h3>
      <v-btn color="primary" @click.native="dialog=!dialog">Настройки</v-btn>
    </v-flex>
    <v-textarea full-width :name="name" v-model="text"></v-textarea>
  </v-layout>
  <v-dialog
    v-model="dialog"
    scrollable 
    persistent :overlay="false"
    max-width="500px"
    transition="dialog-transition"
  >
    <v-card>
      <v-card-title primary-title>
        Настройки
      </v-card-title>
      <v-card-text>
        <template v-for="setting in new_settings">
        <v-text-field
          v-if="!isAutocomplete(setting.name)"
          :name="setting.name"
          :label="setting.text"
          v-model="setting.value"
          :id="setting.id"
          :key="setting.id"
        ></v-text-field>
        <v-autocomplete v-else 
          :items="hiddenValues"
          item-text="text"
          item-value="value"
          v-model="setting.value"
          return-object
          label="Скрытое поле"
        >
        </v-autocomplete>  
        </template>
      </v-card-text>
      <v-card-actions>
        <v-btn @click="save" color="success">Сохранить</v-btn>
        <v-btn @click.native="dialog=!dialog" color="warning">Выйти</v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</div>
</template>

<script>
export default {
  name: "block",
  props: {
    id: Number,
    settings: {
      type: Array,
      default: function() {
        return [
          { id: 1, name: "width", text: "Ширина", value: "100%" },
          { id: 2, name: "height", text: "Высота", value: "250px" },
          { id: 3, name: "color", text: "Цвет", value: "white" },
          { id: 4, name: "hidden", text: "Скрытое", value: 1 }
        ];
      }
    }
  },
  data() {
    return {
      name: null,
      text: null,
      dialog:false,
      hiddenValues:[
        {id:1, text:"Скрыть", value:1},
        {id:2, text:"Показать", value:0},
      ],
      hiddenBlock:null
    };
  },
  mounted() {
    let self = this;
    self.defaultValues();
  },
  watch:{
    // hiddenBlock:function(val){
    //   let self = this;
    //   let hidden_param = 
    // }
  },
  computed: {
    new_settings(){
      return _.cloneDeep(this.settings);
    },
    customClass() {
      let self = this;
      let height = _.find(self.settings, { name: "height" }),
        width = _.find(self.settings, { name: "width" }),
        color = _.find(self.settings, { name: "color" });
      return {
        width: _.isNil(width) ? "100%" : width.value,
        height: _.isNil(height) ? "250px" : height.value,
        "background-color": _.isNil(color) ? "white" : color.value
      };
    },
  },
  methods: {
    isAutocomplete(name){
      return name === 'hide';
    },
    defaultValues() {
      let self = this;
      self.name = "Блок №" + self.id;
      self.text =
        "Любая компания-производитель связывает с каждой своей новой моделью определенные надежды. Зачастую в связи с этим звучат громкие и красивые заявления - прорыв, революция, законодатель моды на ближайшее десятилетие... Но время тут - единственный по-настоящему объективный эксперт.";
    },
    save(){
      let self = this;
      self.$emit("changeSettings", self.new_settings, self.id);
      // axios.post('api/save', {settings:self.new_settings})
      // .then((response)=>{
        // console.log("Успешно");
      // })
      // .catch((error)=>{
        // console.log("Что-то пошло не так")
      // })
      self.dialog = !self.dialog;
    }
  }
};
</script>

<style scoped></style>
