<template>
  <v-app>
    <v-layout row wrap>
      <v-flex xs12>
        <v-text-field
          v-model="blocks_count"
          label="Количество блоков"
        ></v-text-field>
      </v-flex>
    </v-layout>
    <v-layout row wrap>
      <v-flex xs12>
        <block
          v-for="block in +blocks_count"
          :id="+block"
          :settings="getBlockSettings(block - 1)"
          :key="+block"
          @changeSettings="newSettings"
        ></block>
      </v-flex>
    </v-layout>
  </v-app>
</template>

<script>
import block from "./components/block";

export default {
  name: "App",
  components: {
    block
  },
  data() {
    return {
      blocks_count: 2,
      block_settings: [
        [
          { name: "width", text: "Ширина", value: "100%" },
          { name: "height", text: "Высота", value: "400px" },
          { name: "color", text: "Цвет", value: "pink" }
        ],
        [
          { name: "width", text: "Ширина", value: "100%" },
          { name: "height", text: "Высота", value: "400px" },
          { name: "color", text: "Цвет", value: "yellow" },
          { name: "hide", text: "Спрятать", value: true }
        ]
      ]
    };
  },
  methods: {
    getBlockSettings(index) {
      return _.isNil(this.block_settings[index]) ? null :this.block_settings[index];
    },
    newSettings(settings, key){
      this.block_settings[key-1] = settings;
    }
  }
};
</script>

<style></style>
